$main-color: #1a1b20;
$medium-gray: #313541;
$darker-gray: #0e0f12;
$ligter-gray: #908fa7;
$dark-gray: #67667b;
$white: white;
$purple: #9a9de2;
$green: #70f576;
$red: #e75d54;
$placeholder-color: #4c505b;
$icon-gray: #262934;
$font: 'Roboto', sans-serif;
